// Any Bootstrap or FontAwesome-specific variables added here will overwrite the defaults.
@import "variable-overrides";

@import '../../../../vendor/twbs/bootstrap-sass/assets/stylesheets/_bootstrap';
//or @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '../../../../vendor/fortawesome/font-awesome/scss/font-awesome';

// slick
@import 'slick';
@import 'slick-theme';

// Front-end SCSS goes here.
.navbar {
  border: none;
}

.btn-flat {
  border-radius: 0;
  box-shadow: none;
}

.hhrplus-slides {
  margin-bottom: 0;
  position: relative;
  width: 100%;
  float: left;
}

.hhrplus-block {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;

  .hhrplus-block-header {
    h2 {
      margin-bottom: 30px;

      a {
        font-size: 14px;
        display: block;
        padding-top: 18px;
      }
    }
  }
}

.bg-gray {
  background-color: #eee;

  .slick-arrow {
    color: #333;
  }
}

.bg-primary a {
  color: #fff;

  &:hover, &:active, &:visited {
    color: #eee;
  }
}

.bg-yellow {
  background-color: #ffd968;
}

.products {
  .product-item {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-radius: none;
  }
}

.pricing {
  background: #3498db;
  padding: 40px 0 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;

  .thumbnail {
    background: #fff;
    /* IE Fall */
    background: rgba(255, 255, 255, 0.2);
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 36px;
    line-height: 90px;
    text-align: center;
  }

  .title {
    cursor: pointer;
    background: #2980b9;
    margin: 40px 0 0;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .content {
    .sub-title {
      background: #eee;
      padding: 10px;
      color: #666;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }

    a {
      display: block;
      background: #2980b9;
      max-width: 160px;
      margin: 0 auto;
      margin-top: 20px;
      padding: 10px 15px;
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -ms-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      transition: 0.2s linear;

      &:hover {
        background: #34495e;
        /* IE Fallback */
        background: rgba(52, 73, 94, 0.7);
      }
    }

    ul {
      list-style: none;
      background: #fff;
      margin: 0;
      padding: 0;
      color: #666;
      font-size: 14px;

      li {
        padding: 10px 20px;

        &:nth-child(2n) {
          background: #f3f3f3;
        }

        .fa {
          width: 16px;
          margin-right: 10px;
          text-align: center;
        }

        .fa-check {
          color: #2ecc71;
        }

        .fa-close {
          color: #e74c3c;
        }
      }
    }
  }
}

.hhrplus-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #6f6f6f;
  background-color: #232323;

  h3 {
    color: #fff;
    font-weight: bold;
  }

  a {
    color: #6f6f6f;

    &:hover {
      color: $brand-primary;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

footer.copyright {
  background-color: #333;
  color: #666;
  padding-top: 15px;
  padding-bottom: 15px;

  #gototop {
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    background: #1d1d1d;
    font-size: 24px;
    color: #fff
  }

  .cp, .icp {
    margin-top: 11px;
  }
}

.hhrplus-order-info {
  list-style: none;
  padding-left: 0;
  margin-top: 30px;

  li {
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 16px;

    &:last-child {
      border-bottom: none;
    }

    span {
      display: inline-block;
      float: right;
    }
  }
}
